@tailwind base;
  @tailwind components;
  @tailwind utilities;

    /* * {
      margin: 0 !important;
      padding: 0 !important;
      box-sizing: border-box !important;
    } */

  .page{
    padding: 0 !important;
    margin: 0 !important;
  }
  .button{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
  .center{
    padding-bottom: 1.5rem !important;
  }

  .header{
    padding: 1rem !important;
  }

    .header-bg-opacity {
      position: relative;
    }
    .header-bg-opacity-provider {
      position: relative;
    }
  
    .header-bg-opacity::before {
      padding: 0%;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/mediappointbg.png');
      background-size: cover;
      background-position: center;
      opacity: 1;
      z-index: -1;
    }
    .header-bg-opacity-provider::before {
      padding: 0%;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/medic-bg-provider2.jpg');
      background-size: cover;
      background-position: center;
      opacity: 1;
      z-index: -1;
    }

        
    
        /* WebKit Browsers */
        ::-webkit-scrollbar {
          width: 2rem;
        }
    
        ::-webkit-scrollbar-track {
          background: #f1f1f1;
          width: 2rem;
        }
    
        ::-webkit-scrollbar-thumb {
          background: #888;
          width: 2rem;
        }
    
        ::-webkit-scrollbar-thumb:hover {
          background: #555;
          width: 2rem;
        }
    
        ::-webkit-scrollbar-thumb:active {
          background: #333;
        }
    
        /* Firefox */
        * {
          /* scrollbar-width: thin; */
          scrollbar-color: #888 #f1f1f1;
          
        }