@tailwind base;
  @tailwind components;
  @tailwind utilities;

  body{
    padding: 0 !important;
    margin: 0 !important;
  }


    .header-bg-opacity {
      position: relative;
    }
  
    .header-bg-opacity::before {
      padding: 0%;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/mediappointbg.png');
      background-size: cover;
      background-position: center;
      opacity: 1;
      z-index: -1;
    }